@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
:root {
    --primary: #fcd34d;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    //Default Layout
    --default-layout-header-height: 80px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

// Active navigation
.active {
    padding-bottom: 3px;
    border-bottom: 3px var(--primary) solid;
}

//Custom slider
.slick-prev {
    left: 0.5% !important;
    z-index: 1;
}
.slick-prev::before {
    color: #ccc !important;
    font-size: 3rem !important;
}
.slick-next {
    right: 2% !important;
    z-index: 1;
}
.slick-next::before {
    color: #ccc !important;
    font-size: 3rem !important;
}
