.wrapper {
    margin-top: var(--default-layout-header-height);
}
.wrapper .title {
    margin: calc(var(--default-layout-header-height) + 30px) 0 30px 0;
    font-weight: 300;
}
p {
    margin: 20px 0;
}
p > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 3px;
    color: var(--primary);
    &:hover {
        text-decoration: underline;
    }
}
.italic {
    font-style: italic;
}
label {
    display: inline-block;
    width: 300px;
}

form input[type='input'],
textarea {
    margin: 10px 0;
    width: 1000px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    &:focus {
        outline-color: var(--primary);
    }
}
textarea {
    height: 100px;
}

.submit {
    display: flex;
    justify-content: center;
}
.submit input[type='submit'] {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    font-size: 17px;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
        color: var(--black);
    }
}
