.wrapper {
    margin-bottom: 80px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title .label {
    font-size: 20px;
    font-weight: 800;
    background-color: var(--primary);
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 50px;
}
.title .label::after {
    border-bottom: 15px solid transparent;
    border-left: 30px solid var(--primary);
    border-top: 15px solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
}
.title .seeAll {
    color: #000;
}
.products {
    min-height: 400px;
}
