.wrapper {
    margin-top: var(--default-layout-header-height);
    display: flex;
    align-items: center;
}
.productImg {
    text-align: center;
    align-items: center;
    width: 50%;
}
img {
    width: 500px;
}
.detail {
    width: 50%;
}
.productName {
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
}
.des {
    margin-top: 10px;
}
.size {
    margin: 10px 0;
    font-weight: 700;
}
.size span {
    border: 1px solid #000;
    border-radius: 999px;
    padding: 5px;
    margin-left: 6px;
    font-weight: 300;
}
.price {
    margin-top: 12px;
    font-weight: 700;
}
.quantity {
    margin: 12px 0;
    border: 1px solid #000;
    display: inline-block;
    font-weight: 700;
}
.count {
    font-size: 17px;
    padding: 0 15px;
}
.increase,
.decrease {
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: #000;
        color: white;
    }
}
.increase {
    border-right: 1px solid #000;
}
.decrease {
    border-left: 1px solid #000;
}
.originalPrice {
    margin-left: 5px;
    font-weight: 400;
    text-decoration: line-through;
    background-color: var(--primary);
}

.action {
    display: flex;
}
.addCart,
.buy {
    border: 1px solid #000;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
}
.addCart {
    margin-right: 6px;
    background-color: #000;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #000;
    }
}
.buy {
    background-color: #fff;
    color: #000;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
